body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.info-box {
    width: 30%;
    background-color: #2d333f;
    padding: 20px;
    border-radius: 8px 0 0 8px;
    color: white;
}

.header {
    font-family: "Kalam","cursive";
    font-size: 1.3rem;


    margin-bottom: 10px;
}

.image-placeholder {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.description, .photos {
    margin-bottom: 20px;
}

.description p {
    font-family: "Tinos","serif";
    width: 95%;
    height: 80px;
    background-color: #ddd;
    border: none;
    padding: 10px;
    border-radius: 8px;
    resize: none;
    color: black;
    margin: 16px 0 0 0;
    transition: 0.5s;
    cursor: pointer;
}

.description p:hover {
    width: 95%;
    height: 80px;
    background-color: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 8px;
    resize: none;
    color: black;
    margin: 16px 0 0 0;
}

.photo-gallery {
    display: flex;
    gap: 10px;
}

.photo-placeholder {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.opinion-button, .reserve-button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    top: 510px;
    left: 295px;
    position: absolute;
    transition: 0.5s;
}

.reserve-button:hover{
    background-color: #b0b000;
}

.map-container {
    width: 70%;
    height: 500px;
    border-radius: 0 8px 8px 0;
    background-color: #e5e5e5;
}

.footer-text {
    text-align: center;
    margin-top: 20px;
    color: #777;
}
.reserve-button{
    top: 70%;
    left: 20%;
}
@media (max-width: 400px) {
    .map-container{
        display: none;
    }
    .info-box{
        width: 100%;
    }
    .footer-text {
        text-align: center;
        margin-top: 20px;
        color: #777;
    }
    .reserve-button{
        top: 80%;
        left: 33%;
    }
}